#landing-logo {
	/* text-align: left; */
	/* height: 250px; */
	margin: 30px 0px 0px 0px;
}



.home-contents {
	margin-top: 400px;
}

h1.intro {
	margin-top: 10px;
}

.app-brief .left-align h3:first-of-type {
    margin-top: 43px;
	
}

#app-store {

margin-left: 175px 


}